<div class="row">
<p id="notice"><%= notice %></p>
<section class="page-header">  
  <img src="https://pbs.twimg.com/profile_images/3498375188/0a3073eb13c97d0f3aeadb75ffd87984.png" alt="Punch" class="img-circle">	
  <h1><%= @startup.company_name %> <small><%= @startup.category%></small></h1> 
</section>
<br></br>
	<section class="span8">
<p>
  <h4>Description</h4>
  <hr/>
  <%= @startup.description %>
</p>
<br></br>
<p>
  <h4>Milestones</h4>
  <hr/>
  <%= @startup.milestones %>
</p>
<br></br>
<p>
  <h4>Funding</h4>
   <hr/>
  <%= @startup.funding %>
</p>
<br></br>
<p>
  <h4>Press</h4>
  <hr/>
  <%= @startup.press %>
</p>
	</section>
	<section class="span4">
<p>
  <h4>Year founded:</h4>
  <hr/>
  <%= @startup.year_founded %>
</p>
<br></br>
<p>
</p>
<br></br>
<p>
  <h4>People:</h4>
  <hr/>
  <%= @startup.people %>
</p>
<br></br>
<p>
  <h4>Advisors:</h4>
  <hr/>
  <%= @startup.advisors %>
</p>
<br></br>
	</section>
</div>

<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
